@import './global/variables.scss';

body {
  color: $font-color-main;
  $font-main: 'Open Sans-normal';
  font-size: $font-size-main;
  line-height: $line-height-main;
}

a {
  text-decoration: none;
}

.heading {
  font-family: $font-main-bold;
  line-height: 1.2em;
}

.title {
  position: relative;
  font-family: $font-title;
  line-height: 1.2em;
}

.title_line-bottom::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 47px;
  height: 5px;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%, 0);
  background-color: $gray;
}