
// fonts
$font-size-main: 13px;
$line-height-main: 1.2em;
$font-color-main: #5b5b5b;
$font-main: 'Open Sans-normal';

$font-heading: 'HelveticaNeueCyr-roman';

$font-main-bold: 'HelveticaNeueCyr-bold';

$font-size-h1: 30px;
$font-size-large: 48px;


// icon-fonts
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icon-fonts" !default;

$icon-google-plus: "\e900";
$icon-linkedin: "\e901";
$icon-facebook: "\e902";
$icon-twitter: "\e903";
$icon-envelope: "\e904";
$icon-mobile: "\e958";

// colors
$gray: #424242;
$red: #de2b24;
$white: #fff;
$blue: #1287bf;
$yelow: #f8cd53;




