section.about
  .container
    .about__text-section
      h2.about__heading.heading About Us
      p.about__title.title.title_line-bottom We are added our major Services

    ul.about__list.about-list
      li.about-list__item
        .about-list__icon
          img.about-list__pictures.list-icon(src="images/about/arm.jpg")
        h3.about-list__heading Facebook Marketing
        p.about-list__description Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever

      li.about-list__item
        .about-list__icon
          img.about-list__pictures.list-icon(src="images/about/book.jpg")
        h3.about-list__heading Facebook Marketing
        p.about-list__description Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever

      li.about-list__item
        .about-list__icon
          img.about-list__pictures.list-icon(src="images/about/message.jpg")
        h3.about-list__heading Facebook Marketing
        p.about-list__description Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever     