.general {
  min-height: 590px;
  padding-top: 175px;
  text-align: center;
  color: $white;
  background: url(../images/provide-section/main-image.jpg) no-repeat;
  background-position: center;
  background-size: cover;

  &__about {
    font-size: $font-size-large;
    line-height: $line-height-main;
    font-family: $font-main-bold;
  }

  &__title {
    margin-bottom: 35px;
    font-size: $font-size-h1;
    line-height: $line-height-main;
    font-family: $font-heading;
  }
}